body {
    margin:1px;
    padding: 0px; 
    font-family: "Helvetica", Helvetica;
}
#sidebar{
    background: #111;
    width: 200px;
    height: 100%;
    display: block;
    position: absolute;
    left: -200px;
    top: 0px;
    transition: left 0.3s linear;
}
#sidebar.visible{
    left: 0px;
    transition: left 0.3s linear;
}
ul{
    margin: 0px;
    padding: 0px;
}
ul li{
    list-style: none;
}
ul li a{
    background:grey;
    color:lightgray;
    border-bottom: 1px solid #111;
    display:block;
    width:160px;
    margin-left:6px;
    padding: 10px;
    text-decoration:none;
}
#sidebar-btn{
    display:inline-block;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    top: 0px;
    right: -60px;
        
}
#sidebar-btn span{
    font-size: 50px;
    margin-bottom:5px;
    display: block;
    
}
h1 {
    color: lightgray;
    margin: 20px;
}
#Title{
    color: Black;
    font-size: 50px;
    top: 10px;
    font-family: "Helvetica", Helvetica, Arial;
    display: block;
    text-align: center;
   
}
    #Anime {
        text-align: left}